@{
    ViewData["Title"] = "Home Page";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kullanıcı</title>
</head>
<body>
    <div class="outer-box">
        <div class="login-box">
            <h4 class="login-text">Giriş</h4>
            <center>
                <input placeholder="Kullanıcı Adı">
                <input placeholder="Kullanıcı Soyadı">
                <input placeholder="Kullanıcı Mail">
                <input placeholder="Kullanıcı Şifre">
               
            </center>
        </div>
    </div>

</body>
</html>
*@